﻿<%@ Page Title="Inicio" Language="C#" MasterPageFile="~/Site.Master" AutoEventWireup="true" CodeBehind="Principal.aspx.cs" Inherits="agroBJX.Principal" %>

<asp:Content ID="BodyContent" ContentPlaceHolderID="MainContent" runat="server">
    <h2 style="text-align:center; color:white">Sistema Administrativo y Comercial</h2>
    <br /><br />
    <div align="center" >
        <img src="../../assets/images/logo.jpeg" />
    </div>
    
</asp:Content>
